/*ESTILOS GENERALES*/
*{
    background-color:#7ABA96,#8A8070;
}
body{
    text-align: center;
}
.navegador ul li a:hover{
    color:chocolate;
}
.navegador ul li a{
    color:black;
}
a{
    text-decoration: none;
}
/*CABECERA*/
.logo{
    display: block;
    margin: auto;
}

/*ESTILOS DEL NAVEGADOR*/
.navegador{
    text-align: center;
    width: 100%;
    border-top:black 2px solid;
    border-bottom: black 2px solid;
    position: sticky;
    top:0;
    background-color: whitesmoke;
}
.navegador ul{
    list-style: none;
    display: inline-block;
}
.navegador ul li{
    float:left;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 110%;
}
.navegador ul li a{
    text-transform: uppercase;
}
/*VAMOS CON'TO TU BODY*/
section{
    margin-top: auto;
}
h3 a{
    color: black;
}
h3 a:hover{
    color: chocolate;
}
.recetas{
    border:solid black 2px;
    width: 75%;
    float: right;
}
.receta{
    display: inline-block;
    width: 45%;
    /*background-color: lightblue;*/
    border: 2px dotted beige;
    text-align: center;
}
.receta img{
    width: 100%;
}
h6{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
/*ASIDE*/
.introduccion{
    float: left;
    width: 23%;
    text-align: center;
}
.aboutMe{
    width: 90%;
    margin-left: 5%;
    text-align: center;
}
.miquel{
    border: 1px solid black;
    /*haces la img cuadrada en pixeles para que te quede bien encuadrada haciendo 
    el border radius*/
    width: 200px;
    height: 200px;
    border-radius:50%;
    }
.libro{
    width: 70%;
    height: 35%;
    background-color: gray;
}
aside>article>h3{
    width: 100%;
    background-color: rgb(0, 255, 119);
}
/*FOOTER*/
footer{
    clear: both;
}
.footer{
    text-align: center;
    width: 100%;
    background-color: rgb(36, 33, 33);
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    padding: 0.5%;
    padding-right: 10%;
}
.footer ul li a{
    color: whitesmoke;
}
.footer ul li a:hover{
    color: chocolate;
}






























/* .caja2{
    display: inline-block;
    width: 380px;;
    height: 300px;
    background-color: lightblue;
    border: 2px dotted beige;
    margin: 15px;
    margin-top:15px;
    margin-bottom:20px;
    margin-left:20px;
    margin-right:200px;
    padding:25px;
    float: right;
}
.caja3{
    display: inline-block;
    width:380px;
    height:300px;
    background-color: lightblue;
    border: 2px dotted beige;
    margin: 15px;
    margin-top:15px;
    margin-bottom:20px;
    margin-left:60px;
    margin-right:15px;
    padding:25px;
    float: left;
}
.caja4{
    display: inline-block;
    width:380px;
    height:300px;
    background-color: lightblue;
    border: 2px dotted beige;
    margin: 15px;
    margin-top:15px;
    margin-bottom:20px;
    margin-left:20px;
    margin-right:200px;
    padding:25px;
    float: right;
} */
